
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  width: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  font: var(--mat-sys-body-medium);
}

/* ROOT ANGULAR */
app-root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  min-width: 0;
  min-height: 0;
}

/* FLEX FIX */
.flex,
.flex-row,
.flex-col {
  min-width: 0;
  min-height: 0;
}

/* MATERIAL TABLE FIX */
.mat-mdc-table {
  width: max-content !important;
  min-width: 100%;

  table-layout: auto !important;

  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */
.mat-mdc-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CELLS */
.mat-mdc-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/* TEXTO */
.cell-content {

  display: inline-block;

  cursor: text;

  user-select: text;

  outline: none;

  -webkit-tap-highlight-color: transparent;
}

/* EVITAR FOCUS VISUAL */
.cell-content:focus,
.cell-content:active {

  outline: none !important;

  box-shadow: none !important;
}

/* MATERIAL RIPPLE */
.mat-mdc-cell,
.mat-mdc-row {

  -webkit-tap-highlight-color: transparent;
}

/* ROW */
.mat-mdc-row {
  position: relative;

  transition:
    background-color 140ms ease,
    box-shadow 140ms ease,
    border-color 140ms ease,
    transform 120ms ease;
}

/* HOVER */
.mat-mdc-row:hover {
  background:
    linear-gradient(
      to right,
      rgba(248,250,252,1),
      rgba(241,245,249,.85)
    );

  box-shadow:
    inset 3px 0 0 #d1d5db;
}

/* ACTIVE CLICK */
.mat-mdc-row:active {
  transform: scale(.998);
}

/* SELECTED */
.selected-row {
  background:
    linear-gradient(
      to right,
      rgba(239,246,255,1),
      rgba(248,250,252,1)
    ) !important;

  box-shadow:
    inset 4px 0 0 #3b82f6,
    0 1px 2px rgba(0,0,0,.04);

  border-bottom-color: #dbeafe;
}

/* CELLS INSIDE SELECTED */
.selected-row .mat-mdc-cell {
  color: #111827;
}